.navbar {
  min-height: 10vh;
}

.search-bar {
  background-color: white;
  border-radius: 5px;
  margin-top: 2em;
  height: 7vh;
  display: flex;
  align-items: center;
  padding: 1em;
}

.list-card {
  height: 25vh;
  background-color: white;
  border-radius: 5px;
  margin-top: 2em;
}

.list-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: .5em;
}